{% block listadoMaterias %}
   
{% if(indica=='na') %}   
    {% for dato in listaMaterias %} 
    	<table class="table table-striped table-bordered" id ="">
    	         <thead>
    	            <tr>
    	                <th colspan="11" style="text-align: center !important;background-color: #337AB7 !important;color: white!important;">Periodo {{dato.CicloAnio}} - Ciclo {{dato.Ciclo}}</th>
    	            </tr>
                    <tr>
                        <th style="text-align: center !important;">Materias</th>
                        <th style="text-align: center !important;">Veces</th>
                        {% for par in dato.Parciales %} 
    	                       <th style="text-align: center !important;" colspan="3">{{ par.Parcial }}</th>
   	                	{% endfor %}
                         <th style="text-align: center !important;">Suspenso</th>
                          <th style="text-align: center !important;">Promedio</th>
    	                <th style="text-align: center !important;">Estado</th>
                    </tr>
    	            <tr>
    	                <th style="text-align: center !important;"></th>
                        <th style="text-align: center !important;"></th>
                         {% for det in dato.DetalleParciales %} 
                        <th style="text-align: center !important;">{{ det.NombreDetalle }}</th>
                        {% endfor %}
    	                <th style="text-align: center !important;"></th>
                        <th style="text-align: center !important;"></th>
    	                <th style="text-align: center !important;"></th>
    	            </tr>
    	         </thead>
    	            {% for mat in dato.Materias %}
	            	<tr>
	            			<td align="center">{{ mat.Materia }}</td>
                            <td align="center">{{ mat.Veces }}</td>
                            
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                           
                            <td align="center">{{ mat.Suspenso }}</td>
                            <td align="center">{{ mat.Promedio }}</td>
                            <td align="center">{{ mat.Estado }}</td>
	            	</tr>
	            {% endfor %}
	       
	   </table>
	{% endfor %}
{% endif %}   

 {% if(indica=='nh') %} 
      {% for dato in listaMaterias %} 
      <div class="table-responsive">
            	<table class="table table-striped table-bordered" id ="">
            	         <thead>
            	            <tr>
            	                <th colspan="11" style="text-align: center !important;background-color: #337AB7 !important;color: white!important;">{{dato.Semestre}}</th>
            	            </tr>
            	            <tr>
            	                <th style="text-align: center !important;">Materias</th>
                                <th style="text-align: center !important;">Veces</th>
                                <th style="text-align: center !important;" colspan="3">Parcial 1</th>
                                <th style="text-align: center !important;" colspan="3">Parcial 2</th>
                                <th style="text-align: center !important;">Supenso</th>
        					    <th style="text-align: center !important;">Promedio</th>
        				        <th style="text-align: center !important;">Estado</th>
            	            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th style="text-align: center !important;">Academico</th>
                                <th style="text-align: center !important;">Examen</th>
                                <th style="text-align: center !important;">Total</th>
                                <th style="text-align: center !important;">Academico</th>
                                <th style="text-align: center !important;">Examen</th>
                                <th style="text-align: center !important;">Total</th>
            					<th style="text-align: center !important;"></th>
            					<th style="text-align: center !important;"></th>
                                <th style="text-align: center !important;"></th>
                            </tr>
            	         </thead>
            	            {% for mat in dato.Materias %}
        	            	<tr>
        	            			<td align="center">{{ mat.Materia }}</td>
                                    <td align="center">{{ mat.Veces }}</td>
                                    <td align="center">{{ mat.Nota1A }}</td>
                                    <td align="center">{{ mat.Nota1E }}</td>
                                    <td align="center">{{ mat.Nota1 }}</td>
                                    <td align="center">{{ mat.Nota2A }}</td>
                                    <td align="center">{{ mat.Nota2E }}</td>
                                    <td align="center">{{ mat.Nota2 }}</td>
                                    <td align="center">{{ mat.Suspenso }}</td>
                                    <td align="center">{{ mat.Promedio }}</td>
                                    <td align="center">{{ mat.Estado }}</td>
        	            	</tr>
        	            {% endfor %}
        	       
        	   </table>
    </div>
	{% endfor %}  
 {% endif %}

{% endblock %} 